In [125]:
import pandas as pd

df = pd.read_csv("file.csv", sep="\t")
df

   BUCHSTABE       NAME
0          A      Anton
1          Ä      Ärger
2          B      Berta
3          C      Cäsar
4         Ch  Charlotte
5          D       Dora
6          E       Emil
7          F  Friedrich
8          G     Gustav
9          H   Heinrich
10         I        Ida
11         J     Julius
12         K   Kaufmann
13         L     Ludwig
14         M     Martha
15         N    Norbert
16         O       Otto
17         Ö     Ökonom
18         P      Paula
19         Q     Quelle
20         R    Richard
21         S     Samuel
22       Sch     Schule
23         ß    Esszett
24         T    Theodor
25         U     Ulrich
26         Ü    Übermut
27         V     Victor
28         W    Wilhelm
29         X  Xanthippe
30         Y    Ypsilon
31         Z  Zacharias

In [132]:
def get_abkurzung(df, str_in):
    
    series_result = df[df['BUCHSTABE'] == str_in.upper()]['NAME']
    if len(series_result) == 1:
        return series_result.values[0]
    elif len(series_result) > 1:
        return series_result.values
    else:
        return " "
    


get_abkurzung(df, 'I')

'Ida'

In [136]:
def get_words(str_in):
    for i in str_in:
        print(i.upper(), "  ", get_abkurzung(df, i))

    print()
    print(len(str_in), "\t", 'count of letters in the name')    
    print(len(''.join(set(str_in))), "\t", 'count of unique letters in the name')
    
get_words("Amir VBA")

A    Anton
M    Martha
I    Ida
R    Richard

V    Victor
B    Berta
A    Anton

8 	 count of letters in the name
7 	 count of unique letters in the name