In [9]:
from ipysankeywidget import SankeyWidget
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'Col1':['Source_1', 'Source_1', 'Source_1', 'Source_2', 'Source_2']
                  ,'Col2':['Retailer_A', 'Retailer_B', 'Retailer_C', 'Retailer_A', 'Retailer_B']
                  ,'Col3':['F', 'G', 'F', 'H', 'H']
                  ,'value':[1, 2, 3, 4, 7]                 
                  })

df

       Col1        Col2 Col3  value
0  Source_1  Retailer_A    F      1
1  Source_1  Retailer_B    G      2
2  Source_1  Retailer_C    F      3
3  Source_2  Retailer_A    H      4
4  Source_2  Retailer_B    H      7

In [3]:
def get_sankey(DF):

    return SankeyWidget(links= DF.to_dict(orient='records')
                        
#              , margins=dict(top=0, bottom=0, left=100, right=100)
             ,  linkLabelFormat='.0f')

In [4]:
def get_df_sankey_single(DF, str_source, str_value):

    df_pv = DF.pivot_table(index = str_source
                         , values = str_value
                         , aggfunc = np.sum)
    
    df_pv = df_pv.reset_index()
    
    df_pv.rename(columns = {str_source:'target'}, inplace = True)

    df_pv['source'] = 'All'
    df_pv = df_pv[['source', 'target', 'value']]
    return df_pv
    
    
    
df_all = get_df_sankey_single(df, str_source = 'Col1', str_value = 'value')
df_all

  source    target  value
0    All  Source_1      6
1    All  Source_2     11

In [8]:
get_sankey(df_all)

SankeyWidget(linkLabelFormat='.0f', links=[{'source': 'All', 'target': 'Source_1', 'value': 6}, {'source': 'Alâ€¦

In [5]:
def get_df_sankey_couple(DF, lst_columns, str_value):

    DF = DF.rename(columns = {lst_columns[0]:'source', lst_columns[1]:'target'})
    
    df_pv = DF.pivot_table(index = ['source', 'target']
                         , values = str_value
                         , aggfunc = np.sum).reset_index()
        
    return df_pv[['source', 'target', 'value']]
    
    
    
df_all = get_df_sankey_couple(df, ['Col2', 'Col3'], str_value = 'value')
df_all

       source target  value
0  Retailer_A      F      1
1  Retailer_A      H      4
2  Retailer_B      G      2
3  Retailer_B      H      7
4  Retailer_C      F      3

In [6]:
def get_df_all_sankey(DF, lst_col, str_value = 'value'):
    
    lst_df = [get_df_sankey_single(df, lst_col[0], str_value)]
    
    for i in range(len(lst_col)-1):
        lst_in = [lst_col[i], lst_col[i+1]]
        lst_df.append(get_df_sankey_couple(df, lst_in, str_value))
        
    return pd.concat(lst_df, axis = 0)

df_all = get_df_all_sankey(df, ['Col1','Col2','Col3'])
df_all

       source      target  value
0         All    Source_1      6
1         All    Source_2     11
0    Source_1  Retailer_A      1
1    Source_1  Retailer_B      2
2    Source_1  Retailer_C      3
3    Source_2  Retailer_A      4
4    Source_2  Retailer_B      7
0  Retailer_A           F      1
1  Retailer_A           H      4
2  Retailer_B           G      2
3  Retailer_B           H      7
4  Retailer_C           F      3

In [7]:
get_sankey(df_all)

SankeyWidget(linkLabelFormat='.0f', links=[{'source': 'All', 'target': 'Source_1', 'value': 6}, {'source': 'Alâ€¦

# Testing around!

In [211]:
start_time= datetime.now()

In [207]:
convert_seconds__days_hours_minutes_seconds(59) # 59 seconds
convert_seconds__days_hours_minutes_seconds(59 + 60) # 1 minute + 59 seconds
convert_seconds__days_hours_minutes_seconds(59 + 60 + 60*60) # 1 hour + 1 minute + 59 seconds
convert_seconds__days_hours_minutes_seconds(59+60*60 + 60*60*2 + 60*60*24*3) # 3 days + 2 days + 1 hour + 59 seconds



# Checked following using the following website:
# https://www.tools4noobs.com/online_tools/seconds_to_hh_mm_ss/
convert_seconds__days_hours_minutes_seconds(25321) # 07:02:01
convert_seconds__days_hours_minutes_seconds(24221) # 06:43:41
convert_seconds__days_hours_minutes_seconds(20921) # 05:48:41.
convert_seconds__days_hours_minutes_seconds(200) # 05:48:41.

{'day': 0, 'hour': 0, 'minute': 0, 'second': 59}
{'day': 0, 'hour': 0, 'minute': 1, 'second': 59}
{'day': 0, 'hour': 1, 'minute': 1, 'second': 59}
{'day': 3, 'hour': 3, 'minute': 0, 'second': 59}
{'day': 0, 'hour': 7, 'minute': 2, 'second': 1}
{'day': 0, 'hour': 6, 'minute': 43, 'second': 41}
{'day': 0, 'hour': 5, 'minute': 48, 'second': 41}

{'day': 0, 'hour': 5, 'minute': 48, 'second': 41}

In [237]:
list(convert_seconds__days_hours_minutes_seconds(25321).values())== [0,7,2,1]# 07:02:01


import pytest

In [241]:
dct_1 = convert_seconds__days_hours_minutes_seconds(25321)


for k_, v_ in dct_1.items():
    if v_>0:
        print(f'{v_} {k_}')
#     print(k_, v_)

7 hour
2 minute
1 second